{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

<table>
    <tr>
        <th>Difficulty</th>
        <th>Solved</th>
    </tr>
    <tr>
        <td>Easy</td>
        {% if easy %}
            <td>{{easy}}</td>
        {% else %} 
            <td>0</td>
        {% endif %}
    </tr>
    <tr>
        <td>Medium</td>
        {% if medium %}
            <td>{{medium}}</td>
        {% else %} 
            <td>0</td>
        {% endif %}
    </tr>
    <tr>
        <td>Hard</td>
        {% if hard %}
            <td>{{hard}}</td>
        {% else %} 
            <td>0</td>
        {% endif %}
    </tr>
</table>
<form method="GET" action="{% url 'puzzles' %}">
    {% csrf_token %}
    <input type="submit" value="Home">
</form>